<head>
    <title>Tu Página Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app.component.css"> <!-- Agrega tu archivo CSS personalizado aquí -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <img src="https://via.placeholder.com/400x600" alt="Foto de perfil" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1>Manu Cara Garzón</h1>
            <ul>
                <p>- Graduado en Nutrición y dietética</p>
                <p>- sagadg</p>
            </ul>
            <button class="btn btn-primary btn-custom" routerLink="/contacto" style="color: #cacacaef;"><strong>Más información</strong></button>
        </div>
    </div>
</div>

